{% extends 'baseAdmin.html.twig' %}



{% block body %}
    
    
   


<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
                                      <div class="single-form">

                                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                                    <!-- Contenu de votre formulaire ici -->
                                {{ form_end(form) }}
                   </div>        
        </div>
    </div>
{% endblock %}
