
.post-form-container {
    background-color: #D5FFDC;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px; /* Adjusted padding */
    margin-bottom: 20px;
    width: 70%; /* Adjusted width */
    max-width: 500px; /* Maximum width */
    margin: 0 auto; /* Center horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
    
}

.post-form-container .form-group {
    margin-bottom: 9px;
}

.post-form-container label {
    font-weight: bold;
}

.post-form-container input[type="text"],
.post-form-container textarea {
    width: 400px; /* Adjusted width */
    height: 80px;
    padding: 8px; /* Adjusted padding */
    border: 2px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px; /* Added margin */
    resize: none;
}

.post-form-container button {
    
    padding: 0% 30px;
    background-color: #39932C;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-left: 300px;
    cursor: pointer;
    height: 50px;
    
    
}
.sidebar-wrapper{
    height: 100%; /* Full-height sidebar */
    width: 80px; /* Set the width of the sidebar */
    position: fixed; /* Make the sidebar fixed */
    top: 0; /* Position the sidebar at the top */
    left: 0; /* Position the sidebar on the left */
    background-color: #309255; /* Background color of the sidebar */
    padding-top: 20px; /* Add some padding at the top */
}
.post-form-container button:hover {
    opacity: 0.8;
}
.footer-section {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 1000x;
    margin-left: 0px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
   
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-info {
    display: flex;
    flex-direction: column;
}

.post-author {
    font-weight: bold;
    margin-bottom: 5px;
}

.post-time {
    color: #777;
}
.post-attachment{
    padding-left: 200px;
   margin-top: -20px;
}
.post-action{
    padding-left: 800px;
   margin-top: -20px;
}



.formbold-input-file .file {
    position: absolute;
    top: 6px;
    left: 0;
    z-index: -1;
    
  }
  .formbold-input-file .formbold-input-label {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
  }

  .formbold-filename-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 22px;
    cursor: pointer;
  }
.icon-image {
    width: 24px;
    height: 24px; 
    
}

