{% extends 'basefront.html.twig' %}
{% block body %}
<!-- Admin Courses Tab Start -->
<div class="admin-courses-tab">
</br>
</br>
</br>
</br>

   
    
</div>
<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
   <h3 class="title">Edit Your Post !</h3>
    {{ form_start(updatecomment, {'attr': {'method': 'POST', 'novalidate': 'novalidate'}}) }}
    
        <div>
          <div class="single-form">
              {{ form_widget(updatecomment.content) }}
              <div  id="image-preview" style="display: none;">
                 <img id="preview" src="#" alt="Preview" width="100" height="100">
                  </div>
              <span class="form-error">{{ form_errors(updatecomment.content, {'attr': {'class': 'form-error'}}) }}</span>
          </div>    
        </div>
        
         
        
        
        <br>
        
         <div class="tab-btn">
            {{ form_end(updatecomment) }}
        </div>
        
  
   
                

      
</div>
<!-- Admin Courses Tab End -->
{% endblock %}